# ========================================
# CONFIGURACIÓN CHATWOOT PRODUCCIÓN
# ========================================

SECRET_KEY_BASE=ed2e136314acdf5efc02b8e192efabec93c38ae342dbc9b76b1e0e6d5e8ff637633983160e2ca359d5d23448afec2c73405006b5e99a158a6983be85f9a7bb64

# Active Record Encryption (Opcional - para MFA/2FA)
# Generar con: docker run --rm chatwoot/chatwoot:latest bundle exec rails db:encryption:init
# ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=
# ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=
# ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT=
INSTALLATION_NAME=ElemenChat
# ========================================
# URLs Y DOMINIO
# ========================================
FRONTEND_URL=https://chatwoot.elemensoft.com
FORCE_SSL=true

# ========================================
# REGISTRO DE NUEVAS CUENTAS
# ========================================
# false = Solo tú puedes crear cuentas (recomendado)
# true = Cualquiera puede registrarse
# api_only = Solo por API
ENABLE_ACCOUNT_SIGNUP=true

# ========================================
# REDIS CONFIGURATION
# ========================================
REDIS_URL=redis://:875a597016aeafe0059d412913a30b324873563b500ced1c0d07d570bef11287@redis:6379
REDIS_PASSWORD=875a597016aeafe0059d412913a30b324873563b500ced1c0d07d570bef11287

# ========================================
# POSTGRESQL CONFIGURATION
# ========================================
POSTGRES_HOST=postgres_chatwoot
POSTGRES_DATABASE=chatwoot_production
POSTGRES_USERNAME=chatwoot_user
POSTGRES_PASSWORD=56145a6f858fe5075ff774b08182e7aead1c512203c576dc27724c6dab9fc4b2
POSTGRES_STATEMENT_TIMEOUT=14s
RAILS_ENV=production
RAILS_MAX_THREADS=5

ACTION_CABLE_ALLOWED_REQUEST_ORIGINS=https://chatwoot.elemensoft.com
# ========================================
# CONFIGURACIÓN DE EMAIL (SMTP)
# ========================================
# Remitente de emails
#MAILER_SENDER_EMAIL=Chatwoot <noreply@srv981175.hstgr.cloud>
#MAILER_SENDER_EMAIL=Chatwoot <noreply@chatwwot.elemensoft.com>
#MAILER_SENDER_EMAIL=noreply@chatwwot.elemensoft.com

# ========================================
# ALMACENAMIENTO
# ========================================
ACTIVE_STORAGE_SERVICE=local


# ========================================
# LOGS
# ========================================
RAILS_LOG_TO_STDOUT=true
LOG_LEVEL=info
LOG_SIZE=500

# ========================================
# APP MÓVIL
# ========================================
IOS_APP_ID=L7YLMN4634.com.chatwoot.app
ANDROID_BUNDLE_ID=com.chatwoot.app
ANDROID_SHA256_CERT_FINGERPRINT=AC:73:8E:DE:EB:56:EA:CC:10:87:02:A7:65:37:7B:38:D4:5D:D4:53:F8:3B:FB:D3:C6:28:64:1D:AA:08:1E:D8

# ========================================
# NOTIFICACIONES PUSH
# ========================================
ENABLE_PUSH_RELAY_SERVER=true
# Generar VAPID keys en: https://d3v.one/vapid-key-generator/
# VAPID_PUBLIC_KEY=
# VAPID_PRIVATE_KEY=

# ========================================
# SEGURIDAD Y RENDIMIENTO
# ========================================
# Rack Attack (protección contra abuso)
ENABLE_RACK_ATTACK=true
RACK_ATTACK_LIMIT=300

# Sidekiq concurrency
SIDEKIQ_CONCURRENCY=5


# SECCIÓN SMTP 
SMTP_ADDRESS=mail.elemensoft.com
SMTP_PORT=587
#SMTP_PORT=465
SMTP_DOMAIN=elemensoft.com
SMTP_FROM_EMAIL=noreply@elemensoft.com
SMTP_USERNAME=noreply@elemensoft.com
SMTP_PASSWORD=UWJM)ZNH3D?@Vk-S
SMTP_AUTHENTICATION=login
SMTP_TLS=false
SMTP_SSL=false
SMTP_OPENSSL_VERIFY_MODE=none
SMTP_ENABLE_STARTTLS_AUTO=true
# Email del remitente
MAILER_SENDER_EMAIL=noreply@elemensoft.com
MAILER_NAME=Chatwoot
FRONTEND_URL=https://chatwoot.elemensoft.com

# Facebook y Meta Cloud
#FB_APP_ID=1152713510037459
#FB_APP_SECRET=796fb8c1a365b4dd341bdab7e0d8fb76
#FB_CLIENT_TOKEN=f6b373025847c1787f85091204326509
FB_APP_ID=1832619470964500
FB_APP_SECRET=81de6d315fffbfb476a712c99abeef66
FB_CLIENT_TOKEN=5e5481371305a8b93c37e6f455aadbc3
FB_VERIFY_TOKEN=webhook-meta
FB_GRAPH_VERSION=v23.0
ENABLE_FACEBOOK=true
ENABLE_MESSENGER_CHANNEL_HUMAN_AGENT=true

# Para que Rails sepa que debe usar Redis para los mensajes en vivo
REDIS_URL=redis://redis:6379/0
# Muy importante para las notificaciones en tiempo real
CABLE_URL=/cable
# Confianza total para el flujo interno
ACTION_CABLE_MOUNT_PATH=/cable
